In [35]:
#needed to make web requests
import requests

In [36]:
#store the data we get as a dataframe
import pandas as pd

In [37]:
#convert the response as a strcuctured json
import json

In [38]:
#mathematical operations on lists
import numpy as np

In [39]:
#parse the datetimes we get from NOAA
from datetime import datetime

In [40]:
#add the access token you got from NOAA
Token = 'XWwixSPbTBhIUdRuoIbGcgXoWOdTLHEV'

In [41]:
#Long Beach Airport station
station_id = 'GHCND:USW00023129'

In [116]:
# File to Load (Remember to Change These)
weather_data_to_load = "Resources/historical_weather.csv"

# Read Weather Data File and store into Pandas DataFrames
weather_data = pd.read_csv(weather_data_to_load)

weather_data["NAME"].unique()

array(['SEATTLE TACOMA AIRPORT, WA US',
       'FORT LAUDERDALE INTERNATIONAL AIRPORT, FL US',
       'LONG BEACH DAUGHERTY AIRPORT, CA US',
       'MCCARRAN INTERNATIONAL AIRPORT, NV US',
       'LAGUARDIA AIRPORT, NY US',
       'NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US',
       'ORLANDO SANFORD AIRPORT, FL US', 'DAL FTW WSCMO AIRPORT, TX US',
       'BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US',
       'WASHINGTON REAGAN NATIONAL AIRPORT, VA US',
       'DALLAS FAA AIRPORT, TX US',
       'LOS ANGELES INTERNATIONAL AIRPORT, CA US',
       'EVERETT SNOHOMISH CO AIRPORT, WA US',
       'SANTA ANA JOHN WAYNE AIRPORT, CA US',
       'MIAMI INTERNATIONAL AIRPORT, FL US',
       'ORLANDO INTERNATIONAL AIRPORT, FL US', 'BOSTON, MA US',
       'SAN FRANCISCO INTERNATIONAL AIRPORT, CA US',
       'CHICAGO MIDWAY AIRPORT, IL US',
       'ONTARIO INTERNATIONAL AIRPORT, CA US',
       'WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US',
       'PROVIDENCE, RI US', 'JFK INTERNATIONAL AIRPORT, NY US',
       'ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US',
       'CHICAGO OHARE INTERNATIONAL AIRPORT, IL US'], dtype=object)

In [117]:
weather_data.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN,WSF5
0,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-01,5.37,0.00,0.0,NaN,40.0,26.0,17.0
1,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-02,6.26,0.00,0.0,NaN,39.0,25.0,17.9
2,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-03,5.59,0.00,0.0,NaN,42.0,27.0,15.0
3,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-04,3.80,0.03,0.0,NaN,38.0,28.0,23.9
4,USW00024233,"SEATTLE TACOMA AIRPORT, WA US",47.44467,-122.31442,112.5,2011-01-05,4.92,0.12,0.0,NaN,45.0,35.0,15.0

In [118]:
airport_station_summary = weather_data.groupby(["NAME","STATION"]).sum()
city_summary.head()

,STATION,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN,WSF5
NAME,,,,,,,,,,,,
"ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US",1,1,1,1,4215,87,207,14,69,77,70,53
"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",1,1,1,1,4215,97,188,41,81,90,81,59
"BOSTON, MA US",1,1,1,1,4215,110,174,67,86,90,88,62
"CHICAGO MIDWAY AIRPORT, IL US",1,1,1,1,4212,102,157,1,0,103,97,60
"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",1,1,1,1,4215,100,164,61,95,103,99,63

In [119]:
airport_station_summary = weather_data.groupby(["NAME","STATION"]).mean()
city_summary.head()

,STATION,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN,WSF5
NAME,,,,,,,,,,,,
"ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US",1,1,1,1,4215,87,207,14,69,77,70,53
"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",1,1,1,1,4215,97,188,41,81,90,81,59
"BOSTON, MA US",1,1,1,1,4215,110,174,67,86,90,88,62
"CHICAGO MIDWAY AIRPORT, IL US",1,1,1,1,4212,102,157,1,0,103,97,60
"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",1,1,1,1,4215,100,164,61,95,103,99,63

In [121]:
yearly_summary = weather_data.groupby(["DATE", "NAME"]).mean()
yearly_summary.head()

                                                               LATITUDE  \
DATE       NAME
2011-01-01 ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPOR...  33.62972
           BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US   39.17329
           BOSTON, MA US                                       42.36057
           CHICAGO MIDWAY AIRPORT, IL US                       41.78412
           CHICAGO OHARE INTERNATIONAL AIRPORT, IL US          41.96017

                                                               LONGITUDE  \
DATE       NAME
2011-01-01 ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPOR...  -84.44224
           BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US   -76.68408
           BOSTON, MA US                                       -71.00975
           CHICAGO MIDWAY AIRPORT, IL US                       -87.75514
           CHICAGO OHARE INTERNATIONAL AIRPORT, IL US          -87.93164

                                                               ELEVATION  \
DATE       NAME
2011-01-01 ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPOR...      308.2
           BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US        42.0
           BOSTON, MA US                                             3.2
           CHICAGO MIDWAY AIRPORT, IL US                           185.8
           CHICAGO OHARE INTERNATIONAL AIRPORT, IL US              204.8

                                                                AWND  PRCP  \
DATE       NAME
2011-01-01 ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPOR...   8.95  0.93
           BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US    3.80  0.00
           BOSTON, MA US                                        6.04  0.00
           CHICAGO MIDWAY AIRPORT, IL US                       18.79  0.00
           CHICAGO OHARE INTERNATIONAL AIRPORT, IL US          18.57  0.00

                                                               SNOW  TAVG  \
DATE       NAME
2011-01-01 ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPOR...   0.0   NaN
           BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US    0.0   NaN
           BOSTON, MA US                                        0.0   NaN
           CHICAGO MIDWAY AIRPORT, IL US                        NaN   NaN
           CHICAGO OHARE INTERNATIONAL AIRPORT, IL US           0.0   NaN

                                                               TMAX  TMIN  \
DATE       NAME
2011-01-01 ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPOR...  62.0  55.0
           BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US   59.0  29.0
           BOSTON, MA US                                       56.0  35.0
           CHICAGO MIDWAY AIRPORT, IL US                       46.0  15.0
           CHICAGO OHARE INTERNATIONAL AIRPORT, IL US          41.0  14.0

                                                               WSF5
DATE       NAME
2011-01-01 ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPOR...  28.0
           BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US   21.9
           BOSTON, MA US                                       17.9
           CHICAGO MIDWAY AIRPORT, IL US                       40.0
           CHICAGO OHARE INTERNATIONAL AIRPORT, IL US          40.0